html, body {
    margin: 10;
    padding: 10;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 420px;
    height: 420px;
    border: rgba(0, 0, 0, 0.925) solid 2px;
}

.grid div {
    width: 15px;
    height: 15px;
}

.pac-dot {
    background-color: green;
    border: 5px solid white;
    box-sizing: border-box;
}

.wall {
    background-color:rgb(192, 193, 255);
}

.power-pellet {
    background-color: green;
    border-radius: 7.5px;
}

.pacman {
    background-color: orange;
    border-radius: 7.5px;
    border: none;
}

.Todd {
    background-color: blueviolet;
    border: none;
}

.Jerry {
    background-color: rgb(50, 214, 50);
    border: none;
}

.Hank {
    background-color: rgb(226, 110, 43);
    border: none;
}

.Reggie {
    background-color: rgb(226, 43, 150);
    border: none;
}

.scared-ghost {
    background-color: aqua;
    border: none;
}